.container-cards-mentorados{
  display: grid;
  
  grid-template-columns: repeat(2,1fr);
  
  grid-gap: 20px;

}

.card-mentorados{
  
  display: flex;
  flex-direction: row;
  width: 463px;
  height: 402px;
  background: #ffffff;
  border-radius: 20px;
  box-shadow: -4px 10px 40px rgba(0, 0, 0, 0.4);
  
}
.foto{
  width: 64px;
  height: 68px;
  margin: 31px 18px 0 34px;
}
.nome-mentorado{
  position: relative;
  top: 42px;
}
.funcao-mentorado{
margin-top: 42px;
  
}
.descricao-mentorado{
  width: 296px;
  margin-top: 6px;
}





/*responsivo*/


@media (min-width:450px) {
  .alinhamento-depoimentos{
      width: 380px !important;
     
  }
  
}
@media (max-width:600px) {
  .alinhamento-depoimentos .title-vale-a-pena{
      font-size: 26px;
      line-height: 30px;
      width: 282px;
      margin: auto;
  }

  
}

.alinhamento-depoimentos{
  width: 380px;
  margin: auto;
}
.alinhamento-depoimentos .title-vale-a-pena{
  
  margin-bottom: 80px;
  text-align: left;

  
}
.card-depoimentos{
  
  margin: auto;
  width: 271px;
  height: 204px;
  margin-bottom: 10px;
  margin-top: 10px;
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  border-radius: 10.324px;
  padding: 10px;
}
.foto-depoimento{
  width: 24.91px;
  height: 26px;
  position: relative;
  top: 13px;
}

.react-multiple-carousel__arrow::before{
  color: #09BDB2 !important;
  z-index: 1 !important;
  font-size: 35px !important;

  
}
.react-multiple-carousel__arrow{
  background: none !important;
  z-index: 1 !important;
}
.react-multiple-carousel__arrow:hover{
  background: none !important;
}

.texto-depoimento{
  font-family: 'Mangueira';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  
  bottom: 15px;
  text-align: left;
}
.nome-depoimento{
  font-family: 'Mangueira';
  font-style: normal;
  font-weight: 700;
  font-size: 12.3888px;
  line-height: 15px;
  position: relative;
  right: 50px;
  bottom: 15px;
  text-align: center;
}
.cargo-depoimento{
  font-family: 'Mangueira';
  font-style: normal;
  font-weight: 500;
  font-size: 8px;
  line-height: 10px;
  text-align: center;
  right: 65px;
  color: #09BDB2;
  position: relative;
  bottom: 15px;
  text-align: center;
}